@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+Lao:wght@400;700&display=swap');
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './vendors/index.css';